In [3]:
import numpy as mp
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings

In [16]:
data=pd.read_excel('EDA_Shark_Tank_India.xlsx')
data

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

###### Q1. Find the number of episodes?

In [17]:
A=data["episode_number"].nunique()
print("total num of episode",A)

total num of episode 35

###### Q2. Max, min , mean of asked amount,asked equity, asked valuation?

In [18]:
B=data[["pitcher_ask_amount","ask_equity","ask_valuation"]].agg([max, min ,"mean"])
print(B)

      pitcher_ask_amount  ask_equity  ask_valuation
max         30000.000000   25.000000  120000.000000
min             0.001010    0.250000       0.010000
mean          319.854709    5.188034    3852.462479

###### Q3. Max & Min asked- equity,asked-valuation and asked amount episode-wise?

In [20]:
C=data.groupby('episode_number')[["pitcher_ask_amount","ask_equity","ask_valuation"]].agg([max, min ])
print(C)

               pitcher_ask_amount           ask_equity       ask_valuation  \
                              max       min        max   min           max
episode_number
1                            50.0  25.00000       15.0  5.00       1000.00
2                            70.0  50.00000        5.0  1.00       7000.00
3                           100.0  50.00000        4.0  0.25      40000.00
4                            75.0  50.00000       10.0  4.00       1875.00
5                           100.0  10.00000       20.0  1.00      10000.00
6                           100.0  45.00000       10.0  1.00      10000.00
7                           100.0  50.00000        7.5  1.00       7500.00
8                            56.0  30.00000        7.5  2.50       2000.00
9                           100.0  50.00000        5.0  2.50       2000.00
10                           30.0  25.00000        5.0  2.00       1500.00
11                        30000.0  30.00000       25.0  5.00     120000.00
12                           75.0  40.00000        5.0  3.00       1875.00
13                           50.0  30.00000       10.0  2.00       2500.00
14                          100.0  45.00000        5.0  3.00       3333.33
15                           50.0   5.00000        5.0  3.00       1250.00
16                           80.0  45.00000        7.0  2.00       2250.00
17                          150.0  50.00000       10.0  3.00       5000.00
18                          100.0  50.00000        4.0  1.00      10000.00
19                          125.0  15.00000        8.0  1.25      10000.00
20                           65.0  35.00000        5.0  2.00       3250.00
21                          100.0  35.00000       10.0  5.00       1250.00
22                           80.0  50.00000        5.0  2.00       3000.00
23                          100.0  30.00000        5.0  1.00      10000.00
24                           40.0  20.00000       10.0  8.00        500.00
25                          150.0  50.00000        4.0  2.00       7500.00
26                           65.0  50.00000       10.0  1.00       6500.00
27                          100.0   0.00101       10.0  1.00      10000.00
28                           90.0  50.00000        5.0  4.00       1875.00
29                          100.0  75.00000        5.0  3.00       2857.14
30                          300.0  50.00000       15.0  1.00      30000.00
31                           75.0  50.00000       10.0  2.00       3750.00
32                          200.0  35.00000        7.0  1.00       5000.00
33                           40.0  35.00000       10.0  1.00       3500.00
34                          100.0  30.00000       10.0  1.00      10000.00
35                          100.0  40.00000        8.0  2.50       4000.00


                    min
episode_number
1                250.00
2               1000.00
3               1875.00
4                500.00
5                 50.00
6                500.00
7                666.67
8                746.67
9               1000.00
10               500.00
11               300.00
12               800.00
13               500.00
14               900.00
15               100.00
16              1071.43
17               500.00
18              1250.00
19               300.00
20               700.00
21               470.00
22              1500.00
23               600.00
24               200.00
25              1250.00
26               500.00
27                 0.01
28              1000.00
29              1500.00
30               500.00
31               500.00
32               583.33
33               400.00
34               400.00
35               500.00

###### Q4. Brand names in which 2 ,3 or 4 sharks are invested?

In [23]:
D=data.loc[(data['total_sharks_invested']>1) & (data['total_sharks_invested']<5),['brand_name','total_sharks_invested']]
print(D)

                         brand_name  total_sharks_invested
0               BluePine Industries                      3
1                     Booz scooters                      2
2               Heart up my Sleeves                      2
9                             Cosiq                      2
11                           Bummer                      2
12                      Revamp Moto                      2
18               Raising Superstars                      2
21                     Beyond Snack                      2
22   Vivalyf Innovations- Easy Life                      2
24                            Altor                      2
25                            Ariro                      2
27                          Nuutjob                      3
28                         Meatyour                      3
29                        EventBeep                      3
32                            Farda                      2
35                             LOKA                      3
36                            Annie                      3
37                        Caragreen                      2
38                  The Yarn Bazaar                      4
39                The Renal Project                      2
44                          Cocofit                      3
45                     Bamboo India                      2
47                     Beyond Water                      2
48                        Let's Try                      2
50                    Aas Vidyalaya                      3
58                          WeSTOCK                      4
64                       Get a Whey                      3
66                  The Quirky Nari                      2
67                   Hair Originals                      3
75                     The Sass Bar                      2
85               Watt Technovations                      4
88                         Humpy A2                      3
90         Gold Safe Solutions Ind.                      3
91                      Wakao Foods                      3
95                     Kabaddi Adda                      2
108                      Tweek Labs                      3
109                          Proxgy                      2
110              Nomad Food Project                      4
114                   Jain Shikanji                      4

###### Q5. Episode wise minimum and maximum of sharks invested?

In [25]:
E=data.groupby('episode_number')['total_sharks_invested'].agg([max, min])
print(E)

                max  min
episode_number
1                 3    2
2                 1    0
3                 1    0
4                 2    0
5                 2    0
6                 5    0
7                 2    0
8                 2    1
9                 2    0
10                3    3
11                2    0
12                3    0
13                4    2
14                2    0
15                3    1
16                2    0
17                5    0
18                1    0
19                4    0
20                5    0
21                3    1
22                3    0
23                1    0
24                2    0
25                5    0
26                1    0
27                4    0
28                3    0
29                3    0
30                2    0
31                1    0
32                1    0
33                3    0
34                4    0
35                4    0

###### Q7. Brand names who ask for 1 crore and got a deal?

In [28]:
F= data[(data['pitcher_ask_amount']==100) & (data["deal"]==1)][['brand_name','pitcher_ask_amount','deal_amount']]
print(F)

             brand_name  pitcher_ask_amount  deal_amount
12          Revamp Moto               100.0        100.0
39    The Renal Project               100.0        100.0
55                 Otua               100.0          1.0
64           Get a Whey               100.0        100.0
71         Namhya Foods               100.0         50.0
79  Sunfox Technologies               100.0        100.0
87   Insurance Samadhan               100.0        100.0

###### Q8. Brand names where deal equity is between 0 to 50?

In [31]:
G=data[(data['deal_equity']>=0) & (data['deal_equity']<=50)][['brand_name','ask_equity','deal_equity']]
print(G)

              brand_name  ask_equity  deal_equity
0    BluePine Industries         5.0        16.00
1          Booz scooters        15.0        50.00
2    Heart up my Sleeves        10.0        30.00
3             Tagz Foods         1.0         2.75
4         Head and Heart         5.0         0.00
..                   ...         ...          ...
112        Green Protein         2.0         0.00
113              On2Cook         1.0         0.00
114        Jain Shikanji         8.0        30.00
115                Woloo         4.0         0.00
116         Elcare India         2.5         0.00

[116 rows x 3 columns]

###### Q9. Find the number of brands participated in each episode?

In [32]:
H=data.groupby('episode_number')['brand_name'].count()
print(H)

episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

Q10. How many sharks participated in this show and What were their names?

In [34]:
print("total number of sharks in this data:",len(data.columns[11:18]))
shark_present=data.columns[11:18]
shark_present

total number of sharks in this data: 7

Index(['ashneer_present', 'anupam_present', 'aman_present', 'namita_present',
       'vineeta_present', 'peyush_present', 'ghazal_present'],
      dtype='object')

In [35]:
###### Q11. Find appearance of each sharks?

In [37]:
I=data[["ashneer_present","anupam_present","aman_present","namita_present","vineeta_present","peyush_present","ghazal_present"]]
Present=I.sum().sort_values()
Present

ghazal_present      26
vineeta_present     66
peyush_present      88
ashneer_present     98
aman_present        98
namita_present     106
anupam_present     117
dtype: int64

###### Q12. How many entrepreneurs were present?

In [38]:
J=data["pitch_number"].nunique()
print(J)

117

###### Q13. How many times each shark invested the deal?

In [39]:
print("No.of deals invested by each shark:")
for i in data.columns[18:25]:
    s=data[i].sum()
    print(i,s)

No.of deals invested by each shark:
ashneer_deal 21
anupam_deal 24
aman_deal 28
namita_deal 22
vineeta_deal 15
peyush_deal 27
ghazal_deal 7

###### Q14. Find the equity percent that each sharks gets?

In [43]:
l = []
for i in data.columns[18:25]:
    x=data[data[i]==1]
    s=x["equity_per_shark"].sum()
    l.append(s)
    print(i,"total equity",s)

ashneer_deal total equity 93.249999999
anupam_deal total equity 166.35
aman_deal total equity 160.263333334
namita_deal total equity 134.78333333400002
vineeta_deal total equity 131.533333333
peyush_deal total equity 315.84999999999997
ghazal_deal total equity 46.7

In [42]:
for i in data.columns[18:25]:
    x=data[data[i]==1]
    s=x["equity_per_shark"].sum()
    
    print(i,"Equity percent:",s*100/sum(l))

ashneer_deal Equity percent: 8.891707112316801
anupam_deal Equity percent: 15.862042661123454
aman_deal Equity percent: 15.281658132598478
namita_deal Equity percent: 12.852052800434812
vineeta_deal Equity percent: 12.542154161032869
peyush_deal Equity percent: 30.117380069226584
ghazal_deal Equity percent: 4.453005063266999

###### Q15. Find the total number of amount invested in this show?

In [44]:
x = data[data["deal"]==1]
x['deal_amount'].sum()

3642.00106